__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

# Podatki in rezultati (Tega NE pošiljamo na Git!)
data/
Data/
Izhod_Modeli/
Napovedi_Koncne/
Metrike_Koncne/
output_final/
predictions_final/
metrics_final/

# Velike datoteke
*.pth
*.nii.gz
*.zip